parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - '~Call to an undefined method NorseBlue\\ScalarObjects\\Types\\StringType::regexQuote\(\).~'
        - '~Call to an undefined method NorseBlue\\StringExtensions\\Regex\\Extensions\\StringRegexPatternMatchExtension::regexMatches\(\).~'
